<div class="background">
  <br/>
    <div class="register-title">
    Trail starts here!
    </div>
    <div class="register-title1">
    Sign up!
    </div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class ="textBox">
    <div class="container">
      <div class="field">
      <div class="textBox"><%= f.label :email%></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %> 
      </div>
    

    <div class="username" >
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username"%>
    </div>

    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, autofocus: true, autocomplete: "zip" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

<div class="container-name"><a class="button" href="#" target="_blank" rel="nofollow"><button>Sign up</button></a></div>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>