<!DOCTYPE html>
<html>
<head>
  <title>Ruck Trails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
  
  <nav class="top-bar">
    <div class="left">
      <h1><a href="/">Ruck Trails</a></h1>
      <p class="slogan">Want to get your hands dirty? Pack a ruck.</p>
    </div>

    <section class="top-bar-section">
      <ul class="right">
        <div class="header-link">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><a href="/users/<%= current_user.id %>">View My Profile</a></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
        </div>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByGnJyIjVx8v82pE_bPublNUD4TGtuzqU&callback=initMap&v=weekly"
      defer
    ></script>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'index' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
<footer>
  <p>Ruck Trails(TM) All rights reserved.</p>
</footer> 
</html>
